
server:
  port: 9411



management:
  ## 配置扫描节点（该节点指的是所有连接到Zipkin中的节点）
  endpoints.web.exposure.include: '*'
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: false
spring:
  application:
    name: zipkin

#zipkin启动报错无法访问的解决方法
management.metrics.web.server.auto-time-requests: false